.header
{
    text-align: center;
    letter-spacing: -0.022em;
    font-family: "Tahoma";
}


.info
{
    background-color:#DCDCDC;
    margin-bottom: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 50%;
    font-size: 24px;
    line-height: 1.07143;
    font-weight: 200;
    letter-spacing: -.005em;
    padding: 1%;
}

.welcome {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
}

.setup {
    background-color:#DCDCDC;
    padding-top: 1%;
    padding-bottom: 3%;
}

.main
{
    position: absolute;
    top: 48%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 80%;
    letter-spacing: -0.022em;
    font-family: "Tahoma";
}

a:link {
    color: black;
    background-color: transparent;
}

a:visited {
    color: black;
    background-color: transparent;
}

.bottom
{
    position: fixed;
    text-align: center;
    right: 2%;
    margin: auto;
    bottom: 0%;
    font-weight: 300;
    letter-spacing: -0.022em;
    font-family: "Tahoma";
}

.box-three
{
    border: 7px solid #484848;
    border-radius: 0px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 181px;
    height: 181px;
}

.box-four
{
    border: 7px solid #484848;
    border-radius: 0px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 131.5px;
    height: 131.5px;
}

.box-five
{
    border: 7px solid #484848;
    border-radius: 0px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101.5px;
    height: 101.5px;
}

.three {
    width: 600px;
	height: 600px;
	margin: 0 auto;
    background-color: #DCDCDC;
    color: #fff;
    border: 6px solid #484848;
    border-radius: 10px;
	display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.four {
    width: 600px;
	height: 600px;
	margin: 0 auto;
    background-color: #DCDCDC;
    color: #fff;
    border: 6px solid #484848;
    border-radius: 10px;
	display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

.five {
    width: 600px;
	height: 600px;
	margin: 0 auto;
    background-color: #DCDCDC;
    color: #fff;
    border: 6px solid #484848;
    border-radius: 10px;
	display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}


.win {
    display:none;
}
.draw {
    display:none;
}
.loss {
    display: none;
}

img {
    width:90%;
    height:90%;
}