{% extends 'base.html' %}

{% block game %}

<div class = 'main'>
    <div class="win">
        <h4>You Win!</h4>
    </div>
    <div class="draw">
        <h4>Draw</h4>
    </div>
    <div class="loss">
        <h4>You lose!</h4>
    </div>
        {% if board_size == 3 %}
            <div class="three">
                    <table>
                      {% for i in range(0, 3) %}
                      <tr>
                        {% for j in range(0, 3) %}
                        <td>
                            {% if board[i][j] == "X" %}
                                <div class="box-three">
                                    <img src="https://freetictactoe.com/images/mark-x.png"/>
                                </div>
                            {% elif board[i][j] == "O" %}
                                <div class="box-three">
                                    <img src="https://classroomclipart.com/image/static2/preview2/girl-holds-circle-cartoon-shape-geometry-character-clipart-28327.jpg"/>
                                </div>
                            {% else %}
                                <div class="box-three">
                                <a href="{{ url_for('play', row=i, col=j) }}">.</a>
                                </div>
                            {% endif %}
                        </td>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                    </table>                
            </div>
        {% elif board_size == 4 %}
            <div class="four">
                <table>
                    {% for i in range(0, 4) %}
                    <tr>
                      {% for j in range(0, 4) %}
                      <td>
                          {% if board[i][j] == "X" %}
                              <div class="box-four">
                                  <img src="https://freetictactoe.com/images/mark-x.png"/>
                              </div>
                          {% elif board[i][j] == "O" %}
                              <div class="box-four">
                                  <img src="https://classroomclipart.com/image/static2/preview2/girl-holds-circle-cartoon-shape-geometry-character-clipart-28327.jpg"/>
                              </div>
                          {% else %}
                              <div class="box-four">
                              <a href="{{ url_for('play', row=i, col=j) }}">.</a>
                              </div>
                          {% endif %}
                      </td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </table>
          </div>
        {% elif board_size == 5 %}
            <div class="five">
                <table>
                    {% for i in range(0, 5) %}
                    <tr>
                      {% for j in range(0, 5) %}
                      <td>
                          {% if board[i][j] == "X" %}
                              <div class="box-five">
                                  <img src="https://freetictactoe.com/images/mark-x.png"/>
                              </div>
                          {% elif board[i][j] == "O" %}
                              <div class="box-five">
                                  <img src="https://classroomclipart.com/image/static2/preview2/girl-holds-circle-cartoon-shape-geometry-character-clipart-28327.jpg"/>
                              </div>
                          {% else %}
                              <div class="box-five">
                              <a href="{{ url_for('play', row=i, col=j) }}">.</a>
                              </div>
                          {% endif %}
                      </td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </table>
          </div>
      {% endif %}
    <a href="/clear" class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">Reset</a>

</div>

{% endblock %}


