{% extends 'base.html' %}

{% block game %}

<div class = 'main'>
    <div class="win">
        <h4>You Win!</h4>
    </div>
    <div class="draw">
        <h4>Draw</h4>
    </div>
    <div class="loss">
        <h4>You lose!</h4>
    </div>
    
    <div class="game-board">
        {% if board == 3 %}
            <div class="three">
                <form action="" method="POST">
                    <table>
                      {% for i in range(0, 3) %}
                      <tr>
                        {% for j in range(0, 3) %}
                        <td>
                        <div class="box" x="{{j}}" y="{{i}}">
                            <button type="submit" name="choice" value="{{i*3+j+1}}"></button>
                        </div>
                    
                        </td>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                    </table>
                    <button type="submit" name="reset">Start Over</button>
                  </form>
            </div>
        {% endif %}

        {% if board == 4 %}
            <div class="four">
            {% for i in range(board) %}
                {% for j in range(board) %}
                    <div class="box" x="{{j}}" y="{{i}}"></div>
                {% endfor %}
            {% endfor %}
            </div>
        {% endif %}

        {% if board == 5 %}
            <div class="five">
            {% for i in range(board) %}
                {% for j in range(board) %}
                    <div class="box" x="{{j}}" y="{{i}}"></div>
                {% endfor %}
            {% endfor %}
            </div>
        {% endif %}    
    </div>
</div>

{% endblock %}


